## 1. Descarga y prepara los datos.  Explica el procedimiento.

### Características

- RowNumber: índice de cadena de datos
- CustomerId: identificador de cliente único
- Surname: apellido
- CreditScore: valor de crédito
- Geography: país de residencia
- Gender: sexo
- Age: edad
- Tenure: período durante el cual ha madurado el depósito a plazo fijo de un cliente (años)
- Balance: saldo de la cuenta
- NumOfProducts: número de productos bancarios utilizados por el cliente
- HasCrCard: el cliente tiene una tarjeta de crédito (1 - sí; 0 - no)
- IsActiveMember: actividad del cliente (1 - sí; 0 - no)
- EstimatedSalary: salario estimado

### Objetivo

- Exited: El cliente se ha ido (1 - sí; 0 - no)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("datasets/Churn.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           9091 non-null   float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

Comprobemos duplicados. Deberían de coincidir en todo menos en RowNumber para considerarse duplicados:

In [5]:
data.duplicated(data.columns[1:]).sum()

np.int64(0)

No tenemos duplicados, pero sí hay una columna con 909 valores ausentes, Tenure.

Para recordar, esa columna contiene el período durante el cual ha madurado el depósito a plazo fijo de un cliente (años). Veamos como se ven esas filas:

In [6]:
data[data['Tenure'].isna()].sample(10,random_state=42)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9435,9436,15635752,Lo,685,Germany,Male,38,NaN,111798.06,2,1,1,102184.66,0
4608,4609,15614103,Colombo,850,Germany,Male,42,NaN,119839.69,1,0,1,51016.02,1
3594,3595,15578369,Chiedozie,652,Germany,Female,37,NaN,145219.30,1,1,0,159132.83,0
8033,8034,15576526,Steele,850,Spain,Male,36,NaN,0.00,2,0,1,41291.05,0
8589,8590,15637829,Sharpe,691,France,Female,34,NaN,0.00,2,0,1,161559.12,0
9115,9116,15692977,Ikenna,612,Germany,Female,36,NaN,130700.92,2,0,0,77592.80,0
5619,5620,15648951,Kao,785,Spain,Male,41,NaN,0.00,2,1,1,199108.88,0
2654,2655,15759874,Chamberlain,532,France,Male,44,NaN,148595.55,1,1,0,74838.64,1
9944,9945,15703923,Cameron,744,Germany,Male,41,NaN,190409.34,2,1,1,138361.48,0
8030,8031,15578141,Chien,592,Spain,Male,38,NaN,0.00,1,1,1,12905.89,1

A simple vista no comparten ninguna caracteríastica. A lo mejor fue un fallo al momento de capturar los datos que nos dejó esos valores ausentes. Vamos a eliminarlos, pero como es el 10% de los datos, a lo mejor necesitemos otra estrategia para mejorar el modelo.

In [20]:
data_cleaned = data[~data['Tenure'].isna()]

In [21]:
data_cleaned.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

In [22]:
data_cleaned['Tenure'].isna().value_counts()

Tenure
False    9091
Name: count, dtype: int64

Tenemos 3 columnas que definitivamente nos estorbarían en vez de ayudarían para hacer el modelo: RowNumber, CustomerId y Surname. RowNumber y CustomerId solo son identificadores. Para Surname, es un tipo de datos categorico, por lo que podríamos hacer OHE, pero podrían haber dos personas con características completamente distintas y compartir apellido, por lo que incluir esa columna solo confundiría al modelo. Eliminémoslas:

In [23]:
data_cleaned = data_cleaned.iloc[:,3:]

In [24]:
data_cleaned.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

Nos quedan dos variables categoricas, Geography y Gender, hagamos OHE:

In [25]:
data_ohe = pd.get_dummies(data_cleaned,drop_first=True)

In [26]:
data_ohe.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2.0,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1.0,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8.0,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1.0,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2.0,125510.82,1,1,1,79084.10,0,False,True,False

## 2. Examina el equilibrio de clases. Entrena el modelo sin tener en cuenta el desequilibrio. Describe brevemente tus hallazgos.

In [29]:
is_zero = data_ohe[data_ohe['Exited']==0]['Exited'].count()
print(is_zero/data_ohe.shape[0])

0.7960620393796062

In [31]:
is_one = data_ohe[data_ohe['Exited']==1]['Exited'].count()
print(is_one/data_ohe.shape[0])

0.2039379606203938

El 80% de nuestros datos son de la clase negativa (o 0) y sólo el 20% es de clase positiva (o 1). En otras palabras, la proporción es 4 a 1.

In [16]:
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

Separemos nuestros datos en features y target, y dividamoslos en los conjuntos de entrenamiento, validación y prueba.

In [32]:
features = data_ohe.drop(columns='Exited')
target = data_ohe['Exited']

In [33]:
features.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2.0,0.00,1,1,1,101348.88,False,False,False
1,608,41,1.0,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8.0,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1.0,0.00,2,0,0,93826.63,False,False,False
4,850,43,2.0,125510.82,1,1,1,79084.10,False,True,False

In [34]:
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

Split en Train y Valid/Test

In [35]:
features_train, features_valid_test, target_train, target_valid_test = train_test_split(features,target,test_size=0.4,random_state=42)

Split en Valid y Test

In [36]:
features_valid, features_test, target_valid, target_test = train_test_split(features_valid_test,target_valid_test,random_state=42)

### LogisticRegression Model

In [37]:
model = LogisticRegression(solver='liblinear',random_state=42)

In [38]:
model.fit(features_train,target_train)

LogisticRegression(random_state=42, solver='liblinear')

In [40]:
predictions_valid = model.predict(features_valid)

In [41]:
f1_score(target_valid,predictions_valid)

0.07085346215780998

## 3. Mejora la calidad del modelo. Asegúrate de utilizar al menos dos enfoques para corregir el desequilibrio de clases. Utiliza conjuntos de entrenamiento y validación para encontrar el mejor modelo y el mejor conjunto de parámetros. Entrena diferentes modelos en los conjuntos de entrenamiento y validación. Encuentra el mejor. Describe brevemente tus hallazgos.

## 4. Realiza la prueba final.